body
{
    background: url("background.jpg");
    background-size:cover;
}
#title
{
    background-color: lightseagreen;
    font-size: xx-large;
    box-shadow: 3px 3px 80px white;
    font-family: 'Palette Mosaic', cursive;
}
#note
{
    font-size: 32px; 
    font-family: 'Lobster', cursive;
}
.img
{
    width: 70%;
}
#disk_speed_div
{
    width:20%;
    height: 20%;
    float: left;
}
.play
{
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    float:right;
    margin-right: 3%;
}
.disco
{
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    float:left;
    margin-left: 3%;
}
.stop
{
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    display:none;
    float: right;
    margin-right: 3%;
}
canvas
{
    margin-top: 0%;
    animation-name: canvas-border;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}
@keyframes canvas-border
{
   from{box-shadow: 1px 1px 30px white, 20px 20px 80px orange}
   to{box-shadow: 1px 1px 30px grey, 20px 20px 80px blue}
}
#footer
{
    bottom:0px;
    width:100%;
    height: fit-content;
    position:fixed;
    color:black;
    background-color: lime;
}
.song
{
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    float:right;
    margin-right: 4%;
}